<div class="movies-container">
    <section class="flex flex-col items-center sm:items-start xl:flex-row gap-10 p-10">
        <h1 class="min-[1280px]:hidden text-5xl font-bold text-red-600 -mb-6">{{ movie.title }}</h1>
        <div class="relative w-[300px]">
            <img (load)="loading = false" class="min-w-[300px] min-h-full rounded-xl border-2 border-zinc-800"
                [src]="movie.thumbnail" [alt]="movie.alt">
            <div
                class="absolute bottom-[2px] left-[2px] rounded-bl-md rounded-tr-lg flex items-center gap-1 py-1 px-2 backdrop-blur-3xl font-medium">
                <mat-icon class="text-green-500">done</mat-icon>
                <span class="text-sm text-white">On my watchlist</span>
            </div>
        </div>

        <div class="flex flex-col gap-7 text-zinc-400">
            <h1 class="max-[1279px]:hidden text-5xl font-bold text-red-600">{{ movie.title }}</h1>

            <p class="max-w-lg text-zinc-100">{{ movie.description }}</p>

            <div class="flex items-center">
                <span [class.pl-1]="isLast" class="text-zinc-300 bg-black"
                    *ngFor="let genre of movie.genre; last as isLast">
                    {{ genre + ' ' }} {{ !isLast ? '🔸' : null }}
                </span>
            </div>

            <div class="flex items-center justify-start flex-wrap gap-5">
                <div class="flex items-center gap-1 ">
                    <mat-icon>event_available</mat-icon>
                    <p>{{ movie.releasedDate | date : 'MMMM dd, yyyy' : 'mediumDate' }}</p>
                </div>

                <div class="flex items-center gap-1 ">
                    <mat-icon>schedule</mat-icon>
                    <p>{{ movie.duration }}</p>
                </div>

                <div class="flex items-center gap-2">
                    <p class="text-zinc-400">{{ movie.rating }}<span class="text-xs italic">/10</span></p>
                    <app-rating-star [rating]="movie.rating" />
                </div>

            </div>

            <div class="flex gap-7 mt-5 flex-wrap ">
                <button type="button"
                    class="flex items-center gap-2 cursor-pointer  bg-black w-fit p-5 rounded-full hover:bg-zinc-800 transition ease-linear"
                    (click)="onOpenTralerModal(movie.trailerLink)">
                    <mat-icon class="text-red-600">play_arrow</mat-icon>
                    <span>Watch trailer</span>
                </button>

                <button (click)="addMovieToWatchList(movie)" type="button"
                    class="flex items-center gap-2 cursor-pointer  bg-black w-fit p-5 rounded-full hover:bg-zinc-800 transition ease-linear">
                    <mat-icon
                        [ngClass]="movie.onWatchlist ? 'text-green-500' : 'text-red-600'">{{ movie.onWatchlist ? 'done' : 'add' }}</mat-icon>
                    <span>{{ movie.onWatchlist ? 'Remove from watchlist' : 'Add to watchlist' }}</span>
                </button>

            </div>

        </div>
    </section>
</div>

<app-loader *ngIf="loading" />