<div class="movies-container">
    <div class="p-5 pl-10 text-center sm:text-start">
        <h1 class="text-5xl font-bold text-red-600">Movie details</h1>
        <h2 class="text-zinc-100">Check details of the selected movie</h2>
    </div>

    <section class="flex flex-col items-center sm:items-start xl:flex-row gap-10 py-5 px-10">
        <div class="relative w-[300px]">
            <img (load)="loading = false" class="min-w-[300px] min-h-full rounded-lg border-2 border-zinc-800"
                [src]="movie.thumbnail" [alt]="movie.alt">
            <div *ngIf="isOnWatchlist"
                class="absolute bottom-2 left-2 rounded-full flex items-center gap-1 py-2 px-3 bg-black text-white font-medium">
                <mat-icon class="text-green-500">check_circle</mat-icon>
                <span class="text-sm text-white">On my watchlist</span>
            </div>
        </div>

        <div class="flex flex-col gap-7 text-zinc-400">
            <h1 class="max-[1279px]:hidden text-4xl font-bold text-red-600">{{ movie.title }}</h1>

            <p class="max-w-lg text-zinc-100">{{ movie.description }}</p>

            <div class="flex items-center">
                <div class="text-zinc-300 bg-black" *ngFor="let genre of movie.genre; last as isLast">
                    &nbsp;
                    <span>{{ genre }}</span>
                    &nbsp;
                    <span class="text-red-600">{{(!isLast ? '•' : '')}}</span>
                    &nbsp;
                </div>
            </div>

            <div class="flex items-center justify-start flex-wrap gap-5 text-zinc-300">
                <div class="flex items-center gap-1 ">
                    <mat-icon>event_available</mat-icon>
                    <p>{{ movie.releasedDate | date : 'MMMM dd, yyyy' : 'mediumDate' }}</p>
                </div>

                <div class="flex items-center gap-1 ">
                    <mat-icon>schedule</mat-icon>
                    <p>{{ movie.duration }}</p>
                </div>

                <div class="flex items-center gap-2">
                    <p>{{ movie.rating }}<span class="text-xs italic">/10</span></p>
                    <app-rating-star [rating]="movie.rating" />
                </div>

            </div>

            <div class="flex gap-7 mt-5 flex-wrap text-zinc-200 ">
                <button type="button"
                    class="flex items-center gap-2 cursor-pointer  bg-zinc-900 w-fit p-5 rounded-full hover:bg-zinc-800 transition ease-linear"
                    (click)="onOpenTralerModal(movie.trailerLink)">
                    <mat-icon class="text-red-600">play_arrow</mat-icon>
                    <span>Watch trailer</span>
                </button>

                <button (click)="onHandleWatchlist(movie)" type="button"
                    class="flex items-center gap-2 cursor-pointer  bg-zinc-900 w-fit p-5 rounded-full hover:bg-zinc-800 transition ease-linear">
                    <mat-icon
                        [ngClass]="isOnWatchlist ? 'text-green-500' : 'text-red-600'">{{ isOnWatchlist ? 'done' : 'add' }}</mat-icon>
                    <span>{{ isOnWatchlist ? 'Remove from watchlist' : 'Add to watchlist' }}</span>
                </button>

            </div>

        </div>
    </section>
</div>

<app-loader *ngIf="loading || (savingOrDeletingInProgress$ | async)" />