<header class="z-10 w-full bg-black">
    <div class="flex justify-between p-5">
        <button class="text-white font-extrabold" [routerLink]="path">{{ labelButton }}</button>
        <div class="relative flex gap-5 justify-center lg:justify-start">
            <a href="https://github.com/DaniloTeixeira" target="_blank" matTooltip="Go to Github">
                <img class="cursor-pointer w-10" src="../../../../assets/images/util/github-icon.png" alt="Github icon">
            </a>
            <a href="https://www.linkedin.com/in/danilorodriguesteixeira/" target="_blank" matTooltip="Go to LinkedIn">
                <img class="cursor-pointer w-10" src="../../../../assets/images/util/linkedin-icon.png"
                    alt="LindedIn icon">
            </a>
            <a href="https://app.netlify.com/teams/daniloteixeira/sites" target="_blank" matTooltip="Go to Netlify">
                <img class="cursor-pointer w-10" src="../../../../assets/images/util/netlify-icon.png"
                    alt="Netlify icon">
            </a>
        </div>
    </div>
</header>