<div *ngIf="(storedMovies$ | async)?.length; else noContent" class="movies-container text-zinc-100 pb-5">

    <div class="flex justify-center items-center flex-wrap gap-5 px-10 animate__animated animate__fadeInDown">
        <div class="flex gap-10 items-center justify-center md:justify-between flex-wrap w-full lg:pr-5 mb-10">
            <div class="pt-5">
                <h1 class="text-5xl font-bold text-red-600">My watchlist</h1>
                <h2 class="text-zinc-100">Manage your added watchlist movies</h2>
            </div>
            <button class="w-[300px] md:w-auto" mat-stroked-button color="warn" (click)="clearWatchlist()">
                Clear watchlist
            </button>
        </div>
    </div>
    <div class="flex gap-10 mx-5 flex-wrap justify-center md:justify-start animate__animated animate__fadeInUp">
        <div class="relative w-[300px]" *ngFor="let movie of (storedMovies$ | async)">
            <img class="min-w-[300px] min-h-full rounded-lg border-2 border-zinc-800" [src]="movie.thumbnail"
                [alt]="movie.alt">
            <div class="absolute top-[-23px] right-[-21px]
                ">
                <button mat-icon-button type="button" matTooltip="Remove from watchlist"
                    (click)="removeFromWatchlist(movie)">
                    <mat-icon class="text-red-600">close</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>

<ng-template #noContent>
    <h1 class="movies-container text-center text-2xl text-zinc-300 pt-20">Your list is empty.</h1>
</ng-template>


<app-loader *ngIf="loading$ | async" />