<footer class="absolute w-full text-center text-zinc-100 bg-black py-3 animate__animated animate__fadeInUp">
    <div class="flex flex-col gap-2 items-center">
        <div class="flex gap-5">
            <a class=" w-[25px]" href="https://github.com/DaniloTeixeira" target="_blank" matTooltip="Go to Github">
                <img src="../../../../assets/images/util/github-icon.png" alt="Github icon">
            </a>

            <a class="w-[25px]" href="https://www.linkedin.com/in/danilorodriguesteixeira/" target="_blank"
                matTooltip="Go to LinkedIn">
                <img src="../../../../assets/images/util/linkedin-icon.png" alt="LindedIn icon">
            </a>

            <a class="w-[25px]" href="https://app.netlify.com/teams/daniloteixeira/sites" target="_blank"
                matTooltip="Go to Netlify">
                <img src="../../../../assets/images/util/netlify-icon.png" alt="Netlify icon">
            </a>

            <a class="w-[25px]" href="https://vercel.com/danilo-rodrigues-teixeiras-projects" target="_blank"
                matTooltip="Go to Vercel">
                <img src="../../../../assets/images/util/vercel-icon.png" alt="Vercel icon">
            </a>
        </div>

        <small>
            © Copyright by Danilo Rodrigues Teixeira
        </small>
    </div>
</footer>