@import '../../../../assets/scss/variables.scss';

.bg-img {
    position: relative;
    height: 100vh;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.bg-avengers {
    background: linear-gradient($black-absolute, rgba(0,0,0,0.6), $black-absolute), url('../../../../assets/images/avengers-bg.jpg'); 
}

.bg-guardians {
    background:linear-gradient($black-absolute, rgba(0,0,0,0.5), $black-absolute), url('../../../../assets/images/guardians-of-the-galaxy-bg.jpg');
    background-size: cover;
}

.bg-knives {
    background:linear-gradient($black-absolute, rgba(0,0,0,0.5), $black-absolute), url('../../../../assets/images/knives-out-bg.jpg');
}

.bg-spider {
    background: linear-gradient($black-absolute, rgba(0,0,0,0.5), $black-absolute), url('../../../../assets/images/spider-man-bg.png');
}

.bg-tenet {
    background: linear-gradient($black-absolute, rgba(0,0,0,0.5), $black-absolute), url('../../../../assets/images/tenet-bg.jpg');
    background-size: cover;
}