<section class="bg-img bg-avengers">
    <div class="h-full w-full flex items-center justify-center flex-col ">
        <div class="text-white mb-5 w-1/2 text-center">
            <h1 class="text-7xl pb-5 font-bold border-b-2">Embark on a Legendary Journey</h1>
            <p class="m-5">
                Unleash the Power, Feel the Vibranium, and Witness Heroes Assemble in the Epic Marvel Cinematic
                Universe.
            </p>
            <a class="font-bold uppercase" color="warn" target="_blank" mat-stroked-button
                href="https://www.marvel.com/teams-and-groups/avengers">
                Visit the Official Website
            </a>
        </div>
    </div>
</section>

<section class="bg-img bg-guardians">
    <div class="flex h-full w-full flex-col items-center justify-center">
        <div class="flex flex-col px-10">
            <div class="text-white mb-5 w-auto text-center">
                <h1 class="text-7xl pb-5 font-bold border-b-2">
                    Unveiling Galactic Marvels
                </h1>
                <p class="m-5">
                    Behind-the-Scenes Marvels of Guardians of the Galaxy <br />
                    From Improvised Dances to Real Raccoon Inspirations and Groot's Thousand Voices
                </p>
                <a class="font-bold uppercase" color="warn" target="_blank" mat-stroked-button
                    href="https://www.marvel.com/movies/guardians-of-the-galaxy-volume-3">
                    Visit the Official Website
                </a>
            </div>
        </div>
        <h1 class="text-white font-bold text-3xl mt-32 mb-5">Check some curiosities </h1>
        <div class="text-white max-w-[1000px] flex gap-5 px-10  flex-col lg:flex-row">
            <p class="w-auto lg:w-1/3 p-3">
                Chris Pratt's improvised dance moves in the opening scene became a memorable moment, leading to its
                inclusion in "Guardians of the Galaxy."
            </p>
            <p class="w-auto lg:w-1/3 p-3">
                Rocket's animated movements were inspired by a real raccoon named Oreo, brought to the set to help
                animators capture authentic raccoon behaviors.
            </p>
            <p class="w-auto lg:w-1/3 p-3">
                Vin Diesel recorded "I am Groot" over a thousand times in various tones, adding surprising
                expressiveness to Groot despite his limited vocabulary.
            </p>
        </div>
    </div>
</section>

<section class="bg-img bg-knives">
    <div class="flex h-full w-full flex-col items-center justify-evenly px-10">
        <div class="flex flex-col">
            <div class="text-white w-auto text-center">
                <h1 class="text-7xl pb-5 font-bold border-b-2">
                    Unraveling the Mystery: Dive into 'Knives Out
                </h1>
                <p class="m-5">
                    Discover Clues, Deceptions, and a Whodunit Thrill Ride in this Modern Murder Mystery Masterpiece.
                </p>
                <a class="font-bold uppercase" color="warn" target="_blank" mat-stroked-button
                    href="https://www.lionsgate.com/movies/knives-out">
                    Visit the Official Website
                </a>
            </div>
        </div>
        <div>
            <div class="text-red-600 font-bold text-center">
                <h1 class="text-3xl">
                    SPOILER ALERT!
                </h1>
                <h2 class="uppercase py-5">
                    Click in the box below, to {{ showSpoiler ? 'hide' : 'reveal' }} the plot twist
                </h2>
            </div>
            <div class="flex items-center justify-center text-white max-w-[1000px] border-2 border-white rounded-lg cursor-pointer">
                <p 
                class="p-5" 
                [ngClass]="showSpoiler ? 'bg-transparent' : 'bg-white'"
                (click)="toggleShowSpoiler()">
                    In "Knives Out," the plot twist reveals that Harlan Thrombey faked his own death to expose his family's deception. Detective Benoit Blanc uncovers the intricate scheme, turning the conventional murder mystery narrative on its head. The twist not only showcases Rian Johnson's storytelling brilliance but also adds layers of complexity to this modern whodunit.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-img bg-spider">

</section>

<section class="bg-img bg-tenet">

</section>