
<div class="bg-img bg-avengers">
    <div class="relative h-full w-full flex items-center justify-around flex-col ">
        <div class="text-white mb-5 w-1/2 text-center">
            <h1 class="text-7xl pb-3 font-bold border-b-2">Algum título sobre o filme</h1>
            <p class="m-5">
                Algum texto aleatório sobre alguma informação interessante do filme ou qualquer outra coisa só pra
                encher linguiça
            </p>
            <button mat-raised-button color="warn" class="font-bold">Some action</button>
        </div>
    </div>
</div>

<div class="bg-img bg-guardians">

</div>

<div class="bg-img bg-knives">

</div>

<div class="bg-img bg-spider">

</div>

<div class="bg-img bg-tenet">

</div>